{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center home">
    <h1 class="home-title">
        <span>C</span>
        <span class="planet left">O</span>
        <span>S</span>
        <span>M</span>
        <span class="planet right">O</span>
        <span>S</span>
    </h1>
</div>
{% endblock %}
