.create_new_mission{
  color : $turquoise;
  font-size : 3rem;
  border: 1px dashed $turquoise;
  border-radius: 5px;
  padding : 1rem;
  &:hover{
    text-decoration: none;
    color : lighten($turquoise, 20%);
  }
}

#search_mission_transport{
  margin-left : 3rem;
}

.block-search{
    label {
      font-size: 1.3rem;
      font-family: 'nasalization', sans-serif;
      color: white;
    }
  }

.card {
  margin: 1rem;
  border: none;
  font-size: 1.3rem;
  img {
    height: 200px;
  }
  .card-image{
    i{
      background-color: $turquoise;
    }
  }
  .material-icons {
    font-size: 1.5rem;
    font-style: normal;
    font-family: 'Josefin Sans';
  }
  .card-title {
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    line-height: 2px;
    font-family: 'Josefin Sans';
  }
  &:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }
}

.container-fluid {
  padding: 2rem;
}


