.profile {
  color: white;
}
table {
  color: white;
  font-family: 'nasalization', sans-serif;
}
.title-history {
  color: white;
  font-size: 2rem;
}
.card-title.card-mission-profile {
   line-height: 22px;
}
