.profile {
  color: white;
}
table {
  color: white;
  font-family: 'nasalization', sans-serif;
  font-size: 1.3rem;
}
.title-history {
  color: white;
  font-size: 2rem;
}
.card-title.card-mission-profile {
   line-height: 22px;
}

/* UPLOAD */
.form_upload{
  margin-top: 1rem;
  padding: 1rem;
  label{
    font-family: nasalization;
    color : white;
    font-size: 1.3rem;
  }
}