$darkBlue: #10193a;

@font-face {
  font-family: "earthorbiter";
  src: url("../fonts/earthorbiterhalf.ttf")
}

@font-face {
  font-family: "nasalization";
  src: url("../fonts/nasalization-rg.ttf")
}

.typo_title{
  font-family: earthorbiter;
}