{% extends 'base.html.twig' %}

{% block title %}New Mission{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">

        <h1 class="typo_title text-white">Create new Mission</h1>

    {{ include('mission/_form.html.twig') }}

    </div>
{% endblock %}
