<footer class="page-footer">
    <div class="container d-flex justify-content-center">
  {#      <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
        </div>#}
    </div>
    <div class=" text-center footer-copyright">
        <div class="container">
            Made with <i class="fas fa-heart"></i> by M.Papin - A.Quiedeville - C.Godichon - F.Labedade
        </div>
    </div>
</footer>