<nav id="nav-bar" class="nav-extended">
    <div class="container justify-content-center nav-content py-3">
        <ul class="tabs d-flex justify-content-center tabs-transparent">
            <li class="tab typo_title"><a href="#home">Home</a></li>
            <li class="tab typo_title"><a class="active" href="{{ path('mission_index') }}">Missions</a></li>
            <li><a class="active" href="#missions"><img class="resize" src="{{asset('build/images/logo.png')}}" alt=""></a></li>
            <li class="tab disabled typo_title"><a href="#sign-in">Sign up</a></li>
            <li class="tab typo_title"><a href="#login">Login</a></li>
        </ul>
    </div>

</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="#">home</a></li>
    <li><a href="#">Components</a></li>
    <li><a href="#">JavaScript</a></li>
</ul>


