{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn_custom" id="btn_custom">{{ button_label|default('Upload') }}</button>

    {{ form_end(form) }}
{% endblock %}